<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pang.sql.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="com.pang.entity.Item">
        <id column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="item_count" property="itemCount" jdbcType="INTEGER"/>
        <result column="seller_id" property="sellerId" jdbcType="INTEGER"/>
        <result column="item_price" property="itemPrice" jdbcType="DOUBLE"/>
        <result column="item_img" property="itemImg" jdbcType="VARCHAR"/>
        <result column="item_info" property="itemInfo" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addItem" parameterType="com.pang.entity.Item">
        insert into t_item(item_name, item_count,seller_id,item_price,item_img,item_info)
        values (#{itemName},#{itemCount},#{sellerId},#{itemPrice},#{itemImg},#{itemInfo})
    </insert>
    <update id="reduceItemCount">
        update t_item set item_count = IF(item_count &lt; 1, 0, item_count -#{count}) where item_id=#{itemId}
    </update>
    <select id="getCount" resultType="int">
        select t_item.item_count from t_item where item_id=#{itemId}
    </select>
    <select id="selectItemById" resultMap="BaseResultMap">
        select
            item_id, item_name, item_count, seller_id,item_img,item_price,item_info
        from t_item
        where item_id=#{itemId}
    </select>
    <select id="selectAllItem" resultMap="BaseResultMap">
        select
            item_id, item_name, item_count, seller_id,item_img,item_price,item_info
        from t_item
    </select>
    <update id="updateItem" parameterType="com.pang.entity.Item">
        update t_item
        <set>
            item_count=#{itemCount},
            item_name=#{itemName},
            item_img=#{itemImg},
            item_price=#{itemPrice},
            item_info=#{itemInfo}
        </set>
        where item_id=#{itemId} and seller_id=#{sellerId}
    </update>
    <delete id="deleteItem">
        delete from t_item where item_id=#{itemId}
    </delete>
</mapper>