<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pang.mall.mapper.BuyerMapper">
    <resultMap id="BaseResultMap" type="com.pang.mall.entity.Buyer">
        <id column="buyer_id" property="buyerId" jdbcType="INTEGER"/>
        <result column="buyer_name" property="buyerName" jdbcType="VARCHAR"/>
        <result column="buyer_login_name" property="userName" jdbcType="VARCHAR"/>
        <result column="buyer_password" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addBuyer" parameterType="com.pang.mall.entity.Buyer">
        insert into t_buyer(buyer_name,buyer_login_name,buyer_password)
        values (#{buyerName},#{userName},#{password})
    </insert>
    <select id="selectBuyerById" resultMap="BaseResultMap">
        select
        buyer_id, buyer_name, buyer_login_name, buyer_password
        from t_buyer
        where buyer_id=#{buyerId}
    </select>
    <select id="selectAllBuyer" resultMap="BaseResultMap">
        select
            buyer_id, buyer_name, buyer_login_name, buyer_password
        from t_buyer
    </select>
    <select id="selectBuyerByLoginName" resultMap="BaseResultMap">
        select
            buyer_id, buyer_name, buyer_login_name, buyer_password
        from t_buyer
        where buyer_login_name=#{userName}
    </select>
    <update id="updateBuyer" parameterType="com.pang.mall.entity.Buyer">
        update t_buyer
        <set>
            buyer_name=#{buyerName}
        </set>
        where buyer_id=#{buyerId}
    </update>
    <delete id="deleteBuyer">
        delete from t_buyer
        where buyer_id=#{buyerId}
    </delete>
</mapper>